body {
    background-image: url("MotherOfDragons.jpg");
    background-position: center center;
    background-size: cover;
}
/* -Explanation on the LEFT-side of the screen
-White letters */
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }